#stars-frame .glyphicon {
  margin: 0.3em;
  font-size: 1.7em;
}

#stars-frame, #answer-frame {
  width: 40%;
  float:left;
}

#button-frame {
  width:10%;
  float:left;
  text-align: center;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

#stars-frame .well, #answer-frame .well {
  height: 150px;
}

#num-frame {
  display: inline-block;
  width: 100%;
}

#num-frame .number, #answer-frame span{
  display: inline-block;
  margin: 0.5em;
  background-color: #bbb;
  width: 30px;
  text-align: center;
  font-size:22px;
  border-radius:50%;
  color: blue;
  cursor: pointer;
}

// #numbers-frame .number, #answer-frame .well span {
//   display: inline-block;
//   margin: 0.5em;
//   background-color: #bbb;
//   width: 30px;
//   text-align: center;
//   font-size:22px;
//   border-radius:50%;
//   color: blue;
//   cursor: pointer;
// }

// #numbers-frame .selected-true {
//    background-color: #e8e8e8; 
//    color: #ddd;
//    cursor: not-allowed;
// }

// #numbers-frame .used-true {
//    background-color: #aaffaa; 
//    color: #99bb99;
//    cursor: not-allowed;
// }